* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    height: 100vh; 
    width: 100vw; 
  }
  
  .image-section {
    flex: 1;
    background-color: #f0f5ff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .lighthouse-image {
    max-width: 950px;
    height: 979px;
  }
  
  .form-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
  }
  
  .form-section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .form-section .brand-name {
    color: #2979ff;
    font-weight: bold;
  }
  
  .form-section p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
  }
  
  .input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .input-group input {
    width: 100%;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #ff6e00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #ff5700;
  }
  
  .already-member {
    margin-top: 20px;
    text-align: center;
  }
  
  .already-member a {
    color: #2979ff;
    text-decoration: none;
  }
  
  .forgot-password {
    text-align: right;
    margin-bottom: 20px;
  }
  
  .forgot-password a {
    color: #2979ff;
  }
  
  .sso {
    text-align: center;
    margin-top: 20px;
  }
  
  .sso span {
    display: block;
    margin-bottom: 10px;
  }
  
  .sso-btn {
    padding: 10px;
    background-color: #2979ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .sso-btn:hover {
    background-color: #2164d8;
  }

/* Main Content Styling */
.main-content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: flex-start; /* Align items to the top of the container */
}

/* Opportunities Section */
.opportunities-section {
    max-width: 1300px;
    width: 100%;
    height:100vh;
}

h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    margin-top: 10px;
}

p {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #555;
}

/* Cards container */
.opportunity-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
}

/* Individual card styling */
.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: calc(33.333% - 20px); /* 3 cards per row */
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.card h3 {
    font-size: 1.5rem;
    margin-top: 15px;
}

.card p {
    font-size: 1rem;
    color: #666;
}

/* Responsive Design */
@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px); /* 2 cards per row */
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%; /* 1 card per row on mobile */
    }
}
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html, body {
    height: 100%;
    font-family: Inter;
    font-size: 16px;
    background-color: #fff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
}

.app-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}

.navbar {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
    padding: 1rem;
}

.app-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    padding: 3.5rem 1rem 1.5rem 1.5rem;
    font-weight: bold;
    font-size: 1.2rem;
}
.app-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: auto;
}
.app-ver-number {
    font-size: 0.7rem;
}

.navigation {
    flex: 1;
    padding-left: 1.5rem;
}
.navigation h4 {
    font-size: 0.75rem;
    padding: 0.5rem 0 1rem 0;
    text-align: left;
    color: gray;
}

.navigation ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.navigation li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.navigation {
    font-size: 24px;
}

.general,
.tools {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
}

.nav-item {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.icon svg {
    width: 20px;
    height: 18px;
}
.nav-text {
    font-size: 1rem;
}

.settings {
    padding-left: 1.5rem;
}

.settings ul {
    list-style-type: none;
    padding: 0 0.5rem;
    margin: 0;
}

.settings li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

.settings li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.app-content {
    flex: 8;
    border: 1px solid #ededed;
    margin-right: 0.5rem;
    height: calc(100% - 1rem);
    border-radius: 0.6rem;
    background-color: gray;
}
.breadcrumb {
    display: flex;
    align-items: center;
    background-color: #f8f9fa; /* Light background */
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0; /* Light border for separation */
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333; /* Text color */
    position: sticky;
    top: 0;
    z-index: 100; /* Ensures it stays on top of other elements */
}

.breadcrumb-logo {
    width: 24px;
    height: 24px;
    margin-right: 10px; /* Space between logo and text */
    border-radius: 50%;
}

.breadcrumb-link {
    color: #007bff;
    text-decoration: none;
    margin-right: 5px;
    font-weight: 500;
}

.breadcrumb-current {
    color: #6c757d;
    font-weight: 400;
}

.breadcrumb span {
    margin-right: 5px;
}

.breadcrumb a:hover {
    text-decoration: underline;
}
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.settings-container.dark-mode {
    background-color: #1e1e1e;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
}

.navbar.dark-mode {
    background-color: #1e1e1e;
}

.nav-item.dark-mode {
    color: #ffffff;
}

.logout-btn.dark-mode {
    background-color: #bb3300;
}
.page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .page-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1.5rem 0 0 1.5rem;
    font-weight: bold;
  }

  .icon {
    width: 28px;
  }

  .page-title {
    color: #808080;
  }

  .page-content {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
  }